{% load djpress_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% get_blog_title %}</title>
  </head>
  <body>
    <header>
      <h1><a href="{% url "djpress:index" %}">{% get_blog_title %}</a></h1>
    </header>

    <main>

      {% comment %}If we get a single post, then show the full content.{% endcomment %}
      {% if post %}

        <article>
          <header>
            <h1>{{ post.title }}</h1>
            <p>By <span rel="author">{{ post.author.first_name }}</span></p>
            <p><time datetime="2023-05-01">{{ post.date }}</time></p>
          </header>
          <section>
            {{ post.content_markdown|safe }}
          </section>
          <footer>
            <p>Categories:</p>
            <ul>
              {% for category in post.categories.all %}
                <li><a href="{% url 'djpress:category_posts' category.slug %}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </footer>
        </article>

      {% comment %}If we get multiple posts, then show the truncated content.{% endcomment %}
      {% elif posts %}

        {% comment %}If we get posts for a category, then we can show the category header.{% endcomment %}
        {% if category %}

          <h1>{{ category.name }}</h1>

        {% endif %}

        {% for post in posts %}

          <article>
            <header>
              <h1><a href="{% url 'djpress:content_detail' post.slug %}">{{ post.title }}</a></h1>
              <p>By <span rel="author">{{ post.author.first_name }}</span></p>
              <p><time datetime="2023-05-01">{{ post.date }}</time></p>
            </header>
            <section>
              {{ post.truncated_content_markdown|safe }}

              {% if post.is_truncated %}
                <p><a href="{% url 'djpress:content_detail' post.slug %}">Read more</a></p>
              {% endif %}
            </section>
            <footer>
              <p>Categories:</p>
              <ul>
                {% for category in post.categories.all %}
                  <li><a href="{% url 'djpress:category_posts' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
              </ul>
            </footer>
          </article>

        {% endfor %}

      {% else %}

        <p>No posts available.</p>

      {% endif %}

    </main>

    <footer>
      <p>Powered by
        <a href="https://www.djangoproject.com/" title="The web framework for perfectionists with deadlines">Django</a>
        and
        <a href="#">DJPress</a>
      </p>
    </footer>
  </body>
</html>
