<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJPress Admin</title>
  </head>
  <body>
    <h1>DJPress Admin</h1>
    <h2>Post editor</h2>
    <form>
      <div class="row">
        <div class="col">
          <label for="title">Title</label>
          <input type="text" id="title" name="title">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <textarea id="content" name="content"></textarea>
        </div>
        <div class="col">
          <span id="preview"></span>
        </div>
      </div>

      <button type="submit">Save</button>

    </form>

  </body>
</html>
