{% extends '_base.html' %}
{% load djpress_tags %}

{% block content %}

  <div class="row">
    <div class="col col-md-8 pt-3">
      {% block djpress_content %}{% endblock %}
    </div>

    <div class="col-4 d-none d-md-block">
      <h2 class="h4">Recent Posts</h2>
      <ul>
        {% get_recent_posts as posts %}
        {% for post in posts %}
          <li class="mb-2">
            <a href="{{ post.url }}" class="sidebar-link">
              {{ post.post_title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock content %}
