{% extends '_base.html' %}
{% load djpress_tags %}

{% block content %}

  <div class="row">
    <div class="col-8">
      {% block djpress_content %}{% endblock %}
    </div>

    <div class="col-4">
      <h3>Recent Posts</h3>
      <ul>
        {% get_recent_posts as posts %}
        {% for post in posts %}
          <li class="mb-2">
            <a href="{{ post.url }}" class="sidebar-link">
              {{ post.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock content %}
