{% extends 'djpress/stuartmnz/base.html' %}
{% load djpress_tags %}

{% block djpress_content %}

  {% for post in posts %}

    {% if author or category %}

      {% include "djpress/stuartmnz/snippets/post_title.html" %}

    {% else %}

      {% include "djpress/stuartmnz/snippets/post_summary.html" %}

    {% endif %}

  {% empty %}

    <p>No posts available.</p>

  {% endfor %}

  {% is_paginated as paginated %}
  {% if paginated %}

    <nav class="pagination" aria-label="Pagination">

      {% get_pagination_range as page_range %}
      {% get_pagination_current_page as current_page %}

      {% for page in page_range %}

        {% if page == current_page %}

          <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
          <a href="?page={{ page }}" class="current" aria-current="page">{{ page }}</a>

        {% else %}

          <a href="?page={{ page }}">{{ page }}</a>

        {% endif %}
      {% endfor %}
    </nav>

  {% endif %}


{% endblock djpress_content %}
