{% extends 'djpress/stuartmnz/base.html' %}
{% load djpress_tags %}

{% block djpress_content %}

  {% for post in posts %}

    {% if author or category %}

      {% include "djpress/stuartmnz/snippets/post_title.html" %}

    {% else %}

      {% include "djpress/stuartmnz/snippets/post_summary.html" %}

    {% endif %}

  {% empty %}

    <p>No posts available.</p>

  {% endfor %}

  {% is_paginated as paginated %}
  {% if paginated %}

    <span role="group">
      {% get_pagination_range as page_range %}
      {% get_pagination_current_page as current_page %}

      {% for page in page_range %}

        {% if page == current_page %}

          <button aria-current="true" disabled>{{ page }}</button>

        {% else %}

          <a href="?page={{ page }}" role="button" title="Go to page {{ page }}">{{ page }}</a>

        {% endif %}

      {% endfor %}
    </span>

  {% endif %}


{% endblock djpress_content %}
