<div class="card my-4">
  <div class="card-body">
    <h2 class="card-title"><a href="{% url 'djpress:post_detail' post.slug %}">{{ post.title }}</a></h2>
    <p class="card-text">{{ post.content_markdown|safe|truncatewords:50 }}</p>
    <p>
      Categories:
      {% for category in post.categories.all %}
        <a href="{% url 'djpress:category_posts' category.slug %}" class="badge bg-primary">{{ category.name }}</a>
      {% endfor %}
    </p>
  </div>
  <div class="card-footer text-muted">
    Posted on {{ post.date }} by {{ post.author.first_name }}
  </div>
</div>
