<form hx-post="{% url 'contact_form:contact_form' %}"
      hx-target="#contactForm">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="contactModalLabel">{{ contact_form_title }}</h1>
      <button type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
    </div>
    <div class="modal-body">
      {% csrf_token %}
      {% for field in form %}<div class="mb-3">{{ field }}</div>{% endfor %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">📧 Send</button>
    </div>
  </div>
</form>
