{% extends 'base.html' %}

{% block head %}
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
{% endblock head %}

{% block content %}

  <h1>DJPress Admin</h1>
  <h2>Post editor</h2>
  <form>
    <div class="row">
      <div class="col">
        <input class="form-control" type="text" id="title" name="title" placeholder="Post title">
      </div>
      <div class="col d-flex align-items-end">
        <button
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-post="{% url "djpress_admin:preview_markdown" %}"
          hx-params="content"
          hx-target="#preview"
          type="button"
          class="btn btn-success">
          Preview content
        </button>
      </div>
    </div>

    <div class="row gx-1 mt-3">
      <div class="col">
        <textarea class="form-control" rows="24" placeholder="Markdown content" id="content" name="content"></textarea>
      </div>
      <div class="col bg-light rounded-3">
        <span class="bg-body" id="preview"></span>
      </div>
    </div>

  </form>

{% endblock content %}
