{% extends 'base.html' %}

{% block head %}

  <script type="module" src="https://pyscript.net/releases/2024.5.2/core.js"></script>

{% endblock head %}

{% block content %}

  <div class="row">
    <div class="col-6">
      <textarea id="content" py-keyup="preview" class="form-control" rows="20" style="font-family: monospace; font-size: 0.75rem"></textarea>
    </div>
    <div class="col-6">
      <div id="preview"></div>
    </div>
  </div>
  <script type="py" config='{"packages":["markdown", "pygments"]}'>
    import markdown
    from pyscript import document
    md = markdown.Markdown(extensions=["fenced_code", "codehilite", "tables"], output_format="html")
    def preview(event):
      input = document.querySelector("#content").value
    output = document.querySelector("#preview")
    output.innerHTML = md.convert(input)
    md.reset()
  </script>

{% endblock content %}
