{% extends 'base.html' %}
{% load djpress_tags %}


{% block title %}

  {% if post %}

    {{ post.title }} - {% get_blog_title %}

  {% elif category %}

    {{ category.name }} - {% get_blog_title %}

  {% elif author %}

    {{ author_display_name }} - {% get_blog_title %}

  {% else %}

    {% get_blog_title %}

  {% endif %}

{% endblock title %}


{% block content %}

  {% if post %}

    {% include "djpress/snippets/post_detail.html" %}

  {% elif posts %}

    {% for post in posts %}

      {% if author or category %}

        {% include "djpress/snippets/post_title.html" %}

      {% else %}

        {% include "djpress/snippets/post_summary.html" %}

      {% endif %}

    {% endfor %}

  {% else %}

    <p>No posts available.</p>

  {% endif %}

{% endblock content %}
