{% load djpress_tags %}
<header class="navbar navbar-expand navbar-dark mb-3 border-bottom border-2 border-success-subtle">
  <div class="container px-1 px-sm-3">
    {% site_title_link link_class="navbar-brand fs-4 me-sm-3 me-0 px-sm-0 px-0" %}
    <ul class="navbar-nav me-auto">
      {% get_pages as pages %}
      {% for page in pages %}
        {% if not page.is_child %}
          <li class="nav-item">
            <a href="{{ page.url }}" class="nav-link px-sm-2 px-1">{{ page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'admin:index' %}"
             class="nav-link icon-link px-sm-2 px-1">
            {% include "svg/house-gear.svg" %}
            <span class="d-none d-md-inline">Admin</span>
          </a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a href="{% url "contact_form:contact_form" %}"
           hx-get="{% url 'contact_form:contact_form' %}"
           hx-target="#contactForm"
           data-bs-toggle="modal"
           data-bs-target="#contactFormModal"
           class="nav-link icon-link px-sm-2 px-1">
          {% include "svg/email-heart.svg" %}
          <span class="d-none d-md-inline">Email</span>
        </a>
      </li>
      <li class="nav-item">
        <a rel="me"
           href="https://fosstodon.org/@stuartm"
           class="nav-link icon-link px-sm-2 px-1">
          {% include "svg/mastodon.svg" %}
          <span class="d-none d-md-inline">Social</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% get_rss_url %}" class="nav-link icon-link px-sm-2 px-1">
          {% include "svg/rss-fill.svg" %}
          <span class="d-none d-md-inline">RSS</span>
        </a>
      </li>
    </ul>
  </div>
</header>
