{% load djpress_tags %}

<nav class="container">
  <ul>
    <li class="brand"><strong>{% site_title_link link_class="secondary" %}</strong></li>
  </ul>

  {% comment %} Pages menu {% endcomment %}
  <ul>
    {% get_pages as pages %}
    {% for page in pages %}
      {% if page.is_parent %}
        <li>
          <details class="dropdown">
            <summary role="button" class="outline">
              {{ page.title }}
            </summary>
            <ul dir="rtl">
              <li><a href="{{ page.url }}">{{ page.title }}</a></li>
              {% for child in page.children.all %}
                <li><a href="{{ child.url }}">{{ child.title }}</a></li>
              {% endfor %}
            </ul>
          </details>
        </li>
      {% else %}
        {% if not page.is_child %}
          <li><a href="{{ page.url }}" role="button" class="outline">{{ page.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="hide-at-xs" style="margin-left: auto">
    {% if user.is_authenticated %}
      <li>
        <a role="button" class="outline" href="{% url 'admin:index' %}">
          {% include "svg/house-gear.svg" %}<span class="hide-at-s"> Admin</span></a>
      </li>
    {% endif %}
    <li>
      <a role="button" class="outline" href="{% url "contact_form:contact_form" %}" hx-get="{% url 'contact_form:contact_form' %}" hx-target="#result">
        {% include "svg/email-heart.svg" %}<span class="hide-at-s">  @email</span></a>
    </li>
    <li>
      <a rel="me" role="button" class="outline" href="https://fosstodon.org/@stuartm">
        {% include "svg/mastodon.svg" %}<span class="hide-at-s">  @stuartm</span></a>
    </li>
    <li>
      <a role="button" class="outline" href="{% get_rss_url %}">
        {% include "svg/rss-fill.svg" %}<span class="hide-at-s">  RSS</span></a>
    </li>
  </ul>

</nav>
