{% load djpress_tags %}

<nav>
  <ul>
    <li><strong>{% blog_title_link %}</strong></li>
  </ul>

  {% blog_pages outer="ul" %}

  <ul style="margin-left: auto">
    {% if user.is_authenticated %}
      <li>
        <a role="button" class="outline" href="{% url 'admin:index' %}">
          {% include "svg/house-gear.svg" %} Admin</a>
      </li>
    {% endif %}
    <li>
      <a rel="me" role="button" class="outline" href="https://fosstodon.org/@stuartm">
        {% include "svg/mastodon.svg" %} @stuartm</a>
    </li>
    <li>
      <a role="button" class="outline" href="{% url 'djpress:rss_feed' %}">
        {% include "svg/rss-fill.svg" %} RSS</a>
    </li>
  </ul>

</nav>
