{% load djpress_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'djpress:home' %}">stuartm.nz</a>

    <ul class="navbar-nav me-auto">
      {% comment %} Get categories {% endcomment %}
      {% get_categories as categories %}

      {% for category in categories %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'djpress:category_posts' category.slug %}">{{ category.name }}</a>
        </li>
      {% endfor %}

    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link icon-link" href="{% url 'djpress:rss_feed' %}">
          {% include "svg/rss-fill.svg" %} RSS</a>
      </li>
    </ul>
  </div>
</nav>
