{% load tz %}
{% if error_message %}
  {{ error_message }}
{% else %}
  {% timezone timezone %}
  <p>Converted time: {{ timestamp }}</p>
  <table class="table">
    <thead>
      <tr>
        <th>Format</th>
        <th>Time</th>
      </tr>
    </thead>
    <tr>
      <td>ISO 8601</td>
      <td>{{ timestamp|date:"c" }}</td>
    </tr>
    <tr>
      <td>RFC 5322</td>
      <td>{{ timestamp|date:"r" }}</td>
    </tr>
    <tr>
      <td>Short Date</td>
      <td>{{ timestamp|date:"d/m/Y" }}</td>
    </tr>
    <tr>
      <td>Long Date</td>
      <td>{{ timestamp|date:"l, j F Y" }}</td>
    </tr>
    <tr>
      <td>Short Time</td>
      <td>{{ timestamp|date:"H:i" }}</td>
    </tr>
    <tr>
      <td>Long Time</td>
      <td>{{ timestamp|date:"H:i:s" }}</td>
    </tr>
  </table>
{% endtimezone %}
{% endif %}
