{% load djpress_tags static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="preload" href="{% static "fonts/firasans-regular.woff2" %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static "fonts/firasans-bolditalic.woff2" %}" as="font" type="font/woff2" crossorigin>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">

    <meta name="fediverse:creator" content="@stuartm@fosstodon.org">
    <meta name="description" content="Stuart Maxwell's Django Home">
    <meta name="keywords" content="Stuart Maxwell, Django, Python, Web Development, Blog">
    <meta name="author" content="Stuart Maxwell">

    <title>
      {% block title %}
        {% page_title post_text="| " %}{% site_title %}
      {% endblock title %}
    </title>

    <link rel="icon" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32" type="image/png">

    {% block css %}
      <link href="{% static "css/pygments/nord.min.css" %}" rel="stylesheet">
      <link href="{% static "css/fonts.css" %}" rel="stylesheet">
      <link href="{% static "css/bs53p.css" %}" rel="stylesheet">
      <link href="{% static "css/styles.css" %}" rel="stylesheet">
    {% endblock css %}

    {% if not DEBUG and not user.is_authenticated %}
      <script async src="https://u.amanzi.nz/script.js" data-website-id="d5f479d8-65fb-4f80-9823-5fe5ca2e17aa"></script>
    {% endif %}

    {% block head %}
      {% rss_link %}
      <script src="{% static "js/htmx_203.min.js" %}"></script>
    {% endblock head %}
  </head>
  <body>
    {% block header %}
      {% include "snippets/header.html" %}
    {% endblock header %}

    {% block main %}
      <main class="container pb-3">
        {% include "snippets/messages.html" %}
        {% block content %}{% endblock %}
      </main>
    {% endblock main %}

    {% block body_close %}
      <div class="modal fade" id="contactFormModal" tabindex="-1" aria-labelledby="contactFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="contactForm"></div>
      </div>
      <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    {% endblock body_close %}
  </body>
</html>
