{% extends '_base.html' %}
{% load djpress_tags static %}

{% block title %}{% blog_page_title post_text="| " %}{% blog_title %}{% endblock %}

{% block css %}
  <link href="{% static "css/pico.jade.min.css" %}" rel="stylesheet">
  <link href="{% static "css/pygments/nord.min.css" %}" rel="stylesheet">
  <link href="{% static "css/styles.css" %}" rel="stylesheet">
{% endblock css %}

{% block head %}
  {% rss_link %}
  <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
{% endblock head %}

{% block header %}
  <header>
    {% include "snippets/navbar.html" %}
  </header>
{% endblock header %}

{% block main_classes %}container{% endblock %}

{% block content %}{% endblock %}

{% block body_close %}
  <div id="result"></div>

  <script>
    function closeModal(event) {
      event.preventDefault();
      const modal = document.querySelector('dialog');
      if (modal) {
        modal.remove();
      }
    }

    async function copySpfRecord(button) {
      const spfRecord = document.getElementById('spf-record');
      if (spfRecord) {
        try {
          await navigator.clipboard.writeText(spfRecord.textContent);

              // Show feedback
          const originalText = button.textContent;
          button.textContent = '👍 Copied!';

              // Reset button text after 2 seconds
          setTimeout(() => {
            button.textContent = originalText;
          }, 2000);

        } catch (err) {
          console.error('Failed to copy text:', err);
          button.textContent = '❗️ Failed to copy';

          setTimeout(() => {
            button.textContent = originalText;
          }, 2000);
        }
      }
    }
  </script>
{% endblock body_close %}
