{% load static %}
{% load djpress_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">

    <title>{% blog_page_title post_text="| " %}{% blog_title %}</title>

    <link href="{% static "css/pico.jade.min.css" %}" rel="stylesheet">
    <link href="{% static "css/pygments/nord.min.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.min.css" %}" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" title="Latest Posts" href="{% rss_url %}">

    {% if not debug %}
      <script async src="https://u.amanzi.nz/script.js" data-website-id="d5f479d8-65fb-4f80-9823-5fe5ca2e17aa"></script>
    {% endif %}
    {% block head %}{% endblock head %}
  </head>
  <body>
    <header>
      {% include "snippets/navbar.html" %}
    </header>

    <main class="container">
      {% block content %}
      {% endblock %}
    </main>

  </body>
</html>
