@font-face {
  font-family: "Fira Sans";
  src: url("/static/fonts/firasans-regular.woff2") format("woff2"),
    url("/static/fonts/firasans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/static/fonts/firasans-italic.woff2") format("woff2"),
    url("/static/fonts/firasans-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/static/fonts/firasans-bold.woff2") format("woff2"),
    url("/static/fonts/firasans-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/static/fonts/firasans-bolditalic.woff2") format("woff2"),
    url("/static/fonts/firasans-bolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@import "tailwindcss" source(none);

@source '../../templates/**/*.html';
@source '../../**/templates/**/*.html';

@theme {
  --font-sans: "Fira Sans", Helvetica, Arial, sans-serif;
}

@layer base {
  html {
    font-size: 21px;
  }
  body {
    @apply dark:bg-slate-950 bg-slate-50;
  }
  h1,
  h2,
  h3 {
    @apply font-bold italic mb-4;
  }
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  p {
    @apply my-4;
  }
  a {
    @apply text-green-800 hover:text-green-700 hover:underline;
  }
  header {
    @apply flex mb-3 p-4 items-center bg-green-900 text-white;
  }
  ul {
    @apply list-disc ml-4;
  }
  ol {
    @apply list-decimal ml-4;
  }
  code {
    @apply bg-gray-200 dark:bg-gray-700;
  }
  pre {
    background-color: #242933;
    color: #eceff4;
    @apply p-2 rounded
      overflow-auto
      text-xs;
  }
}
@layer components {
  header a {
    @apply text-white hover:underline hover:text-slate-300;
  }
  header ul {
    @apply list-none;
  }
  main {
    @apply md:flex max-w-sm md:max-w-xl lg:max-w-2xl xl:max-w-4xl 2xl:max-w-5xl mx-auto
      px-1 md:px-4 py-4;
  }
  article {
    @apply mb-10 p-4
      shadow-sm rounded-l
    bg-slate-100 shadow-slate-200 text-slate-900
    dark:bg-slate-900 dark:shadow-slate-800 dark:text-slate-300;
  }
  article section {
    @apply mb-4;
  }
  article a {
    @apply dark:text-green-700 hover:text-green-600 hover:underline;
  }
  article footer {
    @apply flex-none text-sm text-gray-500 border-t border-gray-500 pt-2;
  }
  .nav-brand-link {
    @apply inline-block lg:text-3xl md:text-2xl text-xl font-bold italic text-white hover:underline hover:text-gray-200;
  }
  .nav-link {
    @apply flex gap-2 items-center;
  }
  nav.pagination {
    @apply isolate inline-flex -space-x-px rounded-md shadow-xs;
  }
  nav.pagination a {
    @apply relative inline-flex items-center bg-orange-400 hover:bg-orange-600 text-white px-4 py-2 text-sm font-bold;
  }
  nav.pagination a.current {
    @apply bg-orange-200 text-gray-700;
  }
  .content {
    @apply md:w-3/4 md:mr-3;
  }
  .sidebar {
    @apply md:w-1/4;
  }
}
