{% load djpress_tags %}

<nav>
  <ul>
    <li><strong>{% blog_title_link %}</strong></li>
  </ul>

  {% blog_pages outer="ul" %}

  <ul style="margin-left: auto">
    <li>
      <details class="dropdown">
        <summary>
          Categories
        </summary>
        {% blog_categories outer="ul" %}
      </details>
    </li>
  </ul>

  <ul>
    <li>
      <a role="button" class="outline" href="{% url 'djpress:rss_feed' %}">
        {% include "svg/rss-fill.svg" %} RSS</a>
    </li>
  </ul>

</nav>
