{% load djpress_tags %}

<div class="card my-4 shadow">
  <div class="card-body">
    <h1>{{ post.title }}</h1>
    <div class="content">
      {{ post.content_markdown|safe }}
    </div>
  </div>
  <div class="card-footer text-muted">
    <p>
      Posted on {% post_date_link post.date %}
      by {% post_author_link post %}
    </p>
    <p>
      Categories:
      {% for category in post.categories.all %}
        {% post_category_link category "badge bg-primary" %}
      {% endfor %}
    </p>
  </div>
</div>
