<div class="card my-4 shadow">
  <div class="card-body">
    <h2 class="card-title"><a href="{% url 'djpress:post_detail' post.permalink %}">{{ post.title }}</a></h2>
  </div>
  <div class="card-footer text-muted">
    <p>Posted on {{ post.date }} by {{ post.author_display_name }}</p>
    <p>
      Categories:
      {% for category in post.categories.all %}
        <a href="{% url 'djpress:category_posts' category.slug %}" class="badge bg-primary">{{ category.name }}</a>
      {% endfor %}
    </p>
  </div>
</div>
