{% load djpress_tags %}

<div class="card my-4 shadow">
  <div class="card-body">
    <h2 class="card-title">{% post_title_link %}</h2>
    <p class="card-text">{{ post.truncated_content_markdown|safe }}</p>
    {% if post.is_truncated %}
      <p><a href="{% url 'djpress:post_detail' post.permalink %}">Read more</a></p>
    {% endif %}
  </div>
  <div class="card-footer text-muted">
    <p>Posted on {% post_date %} by {% post_author %}</p>
    <p>
      Categories: {% post_categories "span" "badge bg-primary" %}
    </p>
  </div>
</div>
