{% load djpress_tags %}

<div class="card my-4 shadow">
  <div class="card-body">
    <h1>{{ post.title }}</h1>
    <div class="content">
      {{ post.content_markdown|safe }}
    </div>
  </div>
  <div class="card-footer text-muted">
    <p>
      Posted on
      <a href="{% url "djpress:archives_posts" post.date.year|stringformat:"04d" post.date.month|stringformat:"02d" %}" title="View all posts in this month">{{ post.date|date:"M" }}</a>
      <a href="{% url "djpress:archives_posts" post.date.year|stringformat:"04d" post.date.month|stringformat:"02d" post.date.day|stringformat:"02d" %}" title="View all posts on this day">{{ post.date|date:"j" }}</a>,
      <a href="{% url "djpress:archives_posts" post.date.year|stringformat:"04d" %}" title="View all posts in this year">{{ post.date|date:"Y" }}</a>,
      {{ post.date|date:"g:i a" }}
      by {% post_author_link post %}
    </p>
    <p>
      Categories:
      {% for category in post.categories.all %}
        {% post_category_link category "badge bg-primary" %}
      {% endfor %}
    </p>
  </div>
</div>
