{% load djpress_tags %}

<div class="card my-4 shadow">
  <div class="card-body">
    <h2 class="card-title"><a href="{% url 'djpress:post_detail' post.permalink %}">{{ post.title }}</a></h2>
    <p class="card-text">{{ post.truncated_content_markdown|safe }}</p>
    {% if post.is_truncated %}
      <p><a href="{% url 'djpress:post_detail' post.permalink %}">Read more</a></p>
    {% endif %}
  </div>
  <div class="card-footer text-muted">
    <p>Posted on {{ post.date }} by {% post_author post.author %}</p>
    <p>
      Categories:
      {% for category in post.categories.all %}
        {% post_category_link category "badge bg-primary" %}
      {% endfor %}
    </p>
  </div>
</div>
