{% load djpress_tags %}

{% post_wrap %}

  {% if user.is_authenticated and user.is_staff %}
    <div class="float-right"><a href="{% url 'admin:djpress_post_change' post.id %}" style="text-decoration: none">✏️</a></div>
  {% endif %}

  {% post_title outer_tag="h1" %}

  {% post_content outer_tag="section" %}

  <footer>
    <p>Posted on {% post_date %} by {% post_author %}</p>
    <p>
      Categories: {% post_categories "span" link_class="badge bg-primary" %}
    </p>
  </footer>

{% end_post_wrap %}
